<!DOCTYPE html>
<html>
  <head>
    <title>Mindscape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.git = "<%= image_url('githublogo.png') %>"
      window.linked = "<%= image_url('linkedinlogo.png') %>"
    </script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
